<div class="jumbotrom" style="position: relative;">   
    <div class="text-center">      
        <h1 class="display-4">OSCAR J. SOSA ORTIZ</h1>
        <h3>DESARROLLADOR BACKEND</h3>
    </div>
    <br>

    <div style="position: absolute; bottom: 5px;right:10px;">
        <a href="https://api.whatsapp.com/send?phone=543624511130" target="_blank" >
            <img src="../../assets/icons/icons8-whatsapp-96.png" alt="" class="Whatsapp-icon">
          
        </a>
        <a href="https://www.linkedin.com/in/sosao/" target="_blank" >
            <img src="../../assets/icons/icons8-linkedin-96.png" alt="" class="linkedin-icon" >
          
        </a>

        <a href="https://www.instagram.com/0kisan_/" target="_blank" >
            <img src="../../assets/icons/icons8-instagram-96.png" alt="" class="Insta-icon" >
           
        </a>

        <a href="https://github.com/okijulian" target="_blank">
            <img src="../../assets/icons/icons8-github-96.png" alt="" class="git-icon">
            
        </a>
    </div>
</div>