.jumbotrom{
    padding: 2rem 1rem;
    background-color: #45484b;
    
}

.display-4 {
    color: #eee6ab;
    font-style: oblique;
    font-family:Georgia, 'Times New Roman', Times, serif
}
  
h3{
    color: #c5bc8e;
    font-size:2em;
}

.git-icon {
    width: 50px;  
    height: 50px; 
  }
  
  .linkedin-icon {
    width: 50px;  
    height: 50px;  
  }
  
  .Insta-icon {
    width: 50px; 
    height: 50px;  
  }
  .Whatsapp-icon {
    width: 50px; 
    height: 50px;  
  }
  