<div class="modal-header">
    <h2>{{projecto.nombre}}</h2>
    <button class="btn-close" (click)="bsModalref.hide()"></button>
</div>
<div class="carousel carousel-dark slide" data-bs-ride="carousel">
    <carousel>
        <slide><img src="../../assets/project1.0.PNG" alt="pantalla inicio" class="d-block w-100"> </slide>
        <slide><img src="../../assets/project1.1-administrador.PNG" alt="pantalla inicio" class="d-block w-100"></slide>
        <slide><img src="../../assets/project1.1-iniciosesion.PNG" alt="pantalla inicio" class="d-block w-100"></slide>
        <slide><img src="../../assets/project1.1-login.PNG" alt="pantalla inicio" class="d-block w-100"></slide>
    </carousel>

</div>