.card {
    width: 350px;
    height: 300px;
    background-color: #45484b;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    overflow: hidden; /* Evita que los tags desborden la tarjeta */
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-footer {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-x: auto; /* Agrega scroll horizontal si es necesario */
}

.tag {
    
    margin-right: 10px;
    padding: 5px 10px; /* Ajusta el espaciado dentro de los tags */
    font-size: 12px;
    align-content: center; /* Reduce el tamaño del texto de los tags */
}
