<div class="card shadow text-center">
    <div class="card-body">
        <h5 class="card-title">{{projecto.nombre}}</h5>
        <p class="card-text">{{projecto.sumario}}</p>
        <button class="btn btn-primary">Saber Mas</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of projecto.tags">
            <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{tag}}</div>
        </div>
        </div>
    </div>

</div>