.card {
    width: 350px;
    height: 300px;  /* Establece una altura fija */
    background-color: #45484b;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Distribuye el espacio entre los hijos */
    margin: 10px;  /* Añade margen para separar las tarjetas */
}

.card-body {
    flex-grow: 1;  /* Permite que el cuerpo de la tarjeta crezca para ocupar espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centra el contenido verticalmente */
    align-items: center;  /* Centra el contenido horizontalmente */
    padding: 20px;  /* Añade relleno alrededor del contenido */
}

.card-footer {
    height: 100px;  /* Establece una altura fija para el pie de tarjeta */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bold;
}
