.container{
    color: #eee;
}
.linkedin-icon {
    width: 80px;  
    height: 80px; 
}

.linkedin-icon {
    width: 80px;  
    height: 80px;  
}

.Insta-icon {
    width: 80px; 
    height: 80px;  
}
.Whatsapp-icon {
    width: 80px; 
    height: 80px;  
}
