.container{
    color: #eee;
}
.linkedin-icon {
    width: 80px;  
    height: 80px; 
}

.linkedin-icon {
    width: 80px;  
    height: 80px;  
}

.Insta-icon {
    width: 80px; 
    height: 80px;  
}
.Whatsapp-icon {
    width: 80px; 
    height: 80px;  
}

.custom-bg {
        background-color: #45484b; /* Cambia este color al que desees */
        color: aliceblue;
    }

