.nav-link {
    font-size: 22px;    
    font-weight: bold;
}

.navbar-expand-md{
    background-color: #45484b;
      
}
.custom-link {
    color: #c5bc8e; /* Cambia este color al que prefieras */
}

.custom-link:hover {
    color: #696758; /* Cambia este color para el efecto hover */
}

