<nav class="navbar-expand-md border.bottom mb-3">
    <div class="container">
        
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <img src="../../assets/logo.png" alt="Foto perfil" width="50" height="50" class="rounded-circle" >
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">Inicio</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary"routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary"routerLink="/resume" routerLinkActive="text-dark">Resumen</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link text-secondary"routerLink="/contact" routerLinkActive="text-dark">Contacto</a>
            </li>
        </ul>
    </div>
</nav>