.col-lg-4{
    padding-top: 2em;
    max-width: 380px;
    min-width: 380px;
}
.btn{
    background-color: #eee6ab ;
    color: black;
    font-weight:bold;
}


.col{
    color: white;
}

.border {
    padding: 15px;
  }
  .form-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 10px;
  }  
 
  .form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check-input {
    margin-right: 10px;
  }
  
  .form-check-label {
    font-size: 0.9rem;
  }
  