<br>
<div class="continer text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border" > Descargar Curriculun Vitae</button>

    <accordion>
        <accordion-group heading="Experiencia Laboral">
            
        </accordion-group>
        <accordion-group heading="Educación">
            
        </accordion-group>
        <accordion-group heading="Certificados">
            
        </accordion-group>
        <accordion-group heading="Mis Habilidades">
            
        </accordion-group>
    </accordion>

</div>