<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 text-center">
        <br>
      <button
        (click)="DownloadFile()"
        class="btn btn-primary mb-5 shadow border"
      >
        Descargar Curriculun Vitae
      </button>

      <accordion>
        <accordion-group heading="Experiencia Laboral">
          <div style="text-align: left">
            <h2>FULL STACK DEVELOPER</h2>
            <h3 class="text-primary">EME-Equipo Medico de emergencias</h3>
            <section class="tasks">
              <h2>Tareas</h2>
              <ul>
                <li>Mantenimiento y mejora continua de sistemas existentes.</li>
                <li>Desarrollo e implementación de nuevas funcionalidades.</li>
                <li>Generación de informes detallados con Report Viewer.</li>
                <li>Optimización de consultas y procedimientos almacenados.</li>
              </ul>
            </section>

            <section class="skills">
              <h2>Habilidades</h2>
              <ul>
                <li>Desarrollo en .NET (WinForms, arquitectura en capas).</li>
                <li>
                  SQL Server (consultas avanzadas, procedimientos almacenados,
                  vistas).
                </li>
                <li>Uso de ORM (Entity Framework, Dapper).</li>
                <li>Control de versiones con Git y GitHub.</li>
                <li>Generación de reportes con Report Viewer.</li>
                <li>Generación de PDF usando HTML.</li>
              </ul>
            </section>
          </div>
          <hr />
          <div style="text-align: left">
            <h2>FORMADOR</h2>
            <h3 class="text-primary">ATENTO SA</h3>
            <section class="tareas">
              <h5>Tareas</h5>
              <ul>
                <li>
                  Dictado de capacitaciones externas en ventas y atención
                  comercial.
                </li>
                <li>
                  Impartición de cursos de especialización para representantes
                  internos.
                </li>
                <li>
                  Gestión administrativa de accesos a sistemas y atención de
                  pedidos/reclamos.
                </li>
                <li>
                  Redacción y envío de comunicaciones internas y resultados.
                </li>
                <li>
                  Creación y edición de videos tutoriales para cursos y
                  sistemas.
                </li>
              </ul>
            </section>
            <section class="habilidades">
              <h2>Habilidades</h2>
              <ul>
                <li>Facilitación de capacitaciones y cursos.</li>
                <li>Gestión administrativa eficiente.</li>
                <li>Comunicación escrita clara y efectiva.</li>
                <li>Producción de contenido audiovisual educativo.</li>
              </ul>
            </section>
          </div>
          <hr />
          <div style="text-align: left">
            <h2>ATENCIÓN AL CLIENTE</h2>
            <h3 class="text-primary">ATENTO SA</h3>
            <section class="tareas">
              <h5>Tareas</h5>
              <ul>
                <li>Atención Integral a Clientes de Movistar.</li>
                <li>
                  Responsable de abordar consultas y resolver problemas de
                  clientes en áreas como ventas, atención comercial, retención,
                  fidelización y soporte técnico.
                </li>
              </ul>
            </section>
            <section class="habilidades">
              <h2>Habilidades</h2>
              <ul>
                <li>Excelencia en atención al cliente.</li>
                <li>Capacidad integral de gestión.</li>
                <li>Comunicación efectiva.</li>
                <li>Orientación a resultados.</li>
              </ul>
            </section>
          </div>
        </accordion-group>
        <accordion-group heading="Educación"> 
        </accordion-group>
        <accordion-group heading="Certificados"> </accordion-group>
        <accordion-group heading="Mis Habilidades"> </accordion-group>
      </accordion>
    </div>
  </div>
</div>
