p{
    font-size: 18px;  
    padding: 2em ;
    color: #eee;
    text-align: justify;
    margin-top: 0;
    shape-outside: circle();
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.col-lg-9 {
    padding-top: 0.5em;
    background-color: #45484b;
    align-items: center;
    border-radius: 0.5cm;
}

.col-lg-2 {
    padding-top: 0.5em;
    background-color: #45484b;
    align-items: center;
    border-radius: 0.5cm;
}

.list-group-item{
   background-color: #45484b;
   color: aliceblue;
   font-weight: bold;
}

h3{
    color: #eee6ab; 
   
}