<div class="container">
    
    <div class="row">
        <!-- seccion sobre mi -->
        <div class="col-lg shadow border m-4">
            <div class="text-center">    
                <div><br>
                    <img src="../../assets/unnamed.jpg" alt="Foto perfil" width="256" height="256" class="rounded-circle" >
                </div>  
                <div><br>
                    <p>¡Hola y bienvenidos a mi portafolio!
                        Soy un apasionado programador backend especializado en .NET, con experiencia tanto en el desarrollo web como en aplicaciones de escritorio. Mi viaje en esta profesión comenzó durante la pandemia, cuando decidí aprovechar el tiempo aprendiendo nuevos lenguajes y tecnologías, centrándome especialmente en el ecosistema .NET.
                        <br><br>
                        Desde mis primeros pasos en el mundo del desarrollo web con HTML y CSS, hasta la profundización en la programación orientada a objetos con JAVA,  Python y Django, siempre he mantenido mi enfoque en el desarrollo backend. Mi experiencia en el desarrollo de aplicaciones web con .NET me ha brindado una comprensión profunda de los principios fundamentales del desarrollo backend, así como de las tecnologías asociadas como Entity Framework, Dapper y SQL Server.
                        <br><br>                        
                        Mi objetivo es seguir creciendo como desarrollador backend, explorando nuevas tecnologías y desafiándome a mí mismo para crear soluciones innovadoras y eficientes en el mundo del desarrollo de software.
                        </p><br>
                </div>          
               

            </div>
           

       
    </div>
</div>